.hljs-comment {
    color: #de6;
}

.hljs-keyword {
    color: #fff;
    font-weight: bold;
}

.hljs-regexp,
.hljs-string,
.hljs-number {
    color: #fc9;
}

pre,
.hljs {
    background: #333;
    color: #ccc;
}

pre {
    border: 0;
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
