.hljs-comment {
    color: #9d4;
    font-weight: bold;
}

.hljs-keyword {
    color: #fff;
    font-weight: bold;
}

.hljs-string,
.hljs-number {
    color: #fa8;
}

.hljs {
    background: darken(@brand-primary, 15%);
    color: darken(@brand-primary, -45%);
}
