@padding: 15px;
@sidebar-width: 250px;

.main-content() {
    top: @navbar-height;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: @padding;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}

.forkme {
    margin-top: 10px;
}
html.docs-page {
    aside {
        position: fixed;
        left: 0;
        top: @navbar-height;
        bottom: 0;
        width: @sidebar-width;
    }

    main {
        .main-content();
        position: fixed;
        left: @sidebar-width;
    }

    body {
        background: #eee;
    }
}

html.home-page {
    body {
        .main-content();
        position: relative;
        left: 0;
        background: #eee;
        margin: @padding;
        margin-top: 0;
    }

    main {
        background: #fff;
        border: 1px solid white;
        box-shadow: 0 0 0 1px #ccc;
        border-radius: @border-radius-base;
    }
}
