@border: 1px solid #ccc;

.sidebar {
    background: #f4f4f4;
    border-right: @border;
    font-family: @font-family-monospace;

    .filter {
        width: 100%;
        margin: 15px 0;
        height: 30px;
    }

    .toc {
        margin: 0 -15px;
        width: 100%;
        bottom: 0;
        top: 60px;
        background: #f8f8f8;
        border-top: @border;
        position: absolute;
        padding-top: 5px;

        overflow: auto;

        a {
            padding: 4px 15px;
            border-radius: 0;

            &:hover {
                background: #e4e4e4;
            }
        }
    }
}
