# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_style = space
indent_size = 4
max_line_length = 100

[*.md]
# Two trailing spaces => newline in GitHub-flavored markdown
trim_trailing_whitespace = false
