/bower_components/
/dist/gh-pages/
/lib/bench/
/lib/doc/
/lib/sauce/
/scripts/
**/test/
/.editorconfig
/.gitattributes
/.npmignore
/.travis.yml
/.jscsrc
/.jshintrc
/CONTRIBUTING.md
/Makefile
/bower.json
/index.js
/npm-debug.log
/ramda.js.tmp
/testem.json
/tmp
