<!DOCTYPE html>
<html class="home-page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ramda Documentation</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <strong>Ramda</strong>
                <span class="version">v{{version}}</span>
            </a>
        </div>
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="docs">Documentation</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <iframe class="forkme" src="http://ghbtns.com/github-btn.html?user=ramda&repo=ramda&type=fork&size=large" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; height: 30px;" allowTransparency="true"></iframe>
        </div>
    </header>
    <main class="container">
        <article>{{> readme}}</article>
    </main>
</body>
</html>
