<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><?js= ((env.conf.templates.meta && env.conf.templates.meta.title) || title) ?></title>
    <?js if (env.conf.templates.meta) { ?>
    <?js if (env.conf.templates.meta.description) { ?><meta name="description" content="<?js= env.conf.templates.meta.description ?>" /><?js } ?>
    <?js if (env.conf.templates.meta.keyword) { ?>
        <meta name="keywords" content="<?js= env.conf.templates.meta.keyword ?>" />
        <meta name="keyword" content="<?js= env.conf.templates.meta.keyword ?>" />
    <?js } ?>
    <?js } ?>
    <?js if (env.conf.templates.openGraph) { ?>
    <meta property="og:title" content="<?js= env.conf.templates.openGraph.title ?>"/>
    <meta property="og:type" content="<?js= env.conf.templates.openGraph.type ?>"/>
    <meta property="og:image" content="<?js= env.conf.templates.openGraph.image ?>"/>
    <?js if (env.conf.templates.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.templates.openGraph.site_name ?>"/><?js } ?>
    <meta property="og:url" content="<?js= env.conf.templates.openGraph.url ?>"/>
    <?js } ?>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/jaguar.css">
    
    <?js if (env.conf.templates) { ?>
    <script>
    var config = <?js= JSON.stringify(env.conf.templates) ?>;
    </script>
    <?js } ?>

    <?js if (env.conf.templates.googleAnalytics) { ?>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', config.googleAnalytics]);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <?js } ?>
</head>
<body>
<div id="wrap" class="clearfix">
    <?js= this.partial('navigation.tmpl', this) ?>
    <div class="main">
        <h1 class="page-title" data-filename="<?js= filename ?>"><?js= title ?></h1>
        <?js= content ?>

        <?js if (env.conf.templates.disqus) { ?>
        <!-- disqus code -->
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <!-- // disqus code -->
        <?js } ?>

        <footer>
            Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
        </footer>
    </div>
</div>
<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
